---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <div class="lg:w-9/12 mx-auto">
    <div class="lg:w-9/12 mx-auto mt-32">
      <h3 class="text-center font-bold text-3xl text-primary-500 pt-10">About Heguru</h3>
      <!-- <p class="text-center text-gray-400 text-sm">Photos of our Activities!</p> -->
    </div>

    <Hero
      tagline="Contact Us"
      class:list={'pt-0'}
      image={{
        src: '/img1.jpg',
        alt: 'Caos Image',
      }}
    >
      <!-- <Fragment slot="title"> About Heguru </Fragment> -->

      <Fragment slot="subtitle">
        <div class="text-justify text-gray-500">
          Heguru is an educational network of classes for young children, based in Tachikawa, Tokyo, and committed to
          providing the ideal education for children and their parents. Heguru classes start from the prenatal stage,
          when the baby is still in the mother’s womb. The important thing at this earliest stage is to keep the
          mother’s body healthy and in balance, and to keep her in a positive state of mind. As the proverb “what is
          learned in the cradle is carried to the grave” tells us, the infant and toddler stage right after birth is
          crucial. During these early years, it is important to build the “foundational strength” that will prove to be
          invaluable as your child grows. Building this “foundational strength” starts with nurturing the “mind and
          heart”. Children learn to control their own minds, and interact with others in a considerate and kind-hearted
          way. Furthermore, as they develop their capacities for concentration and imagination, they build a brain
          circuitry that can process all kinds of information through imaging and visualization. The younger the age at
          which children start developing this circuitry, the greater its processing power will be, as they get older.
          By possessing both the regular circuitry of the Left Brain, which processes information through language, and
          the imaging circuitry, which processes information through imaging and visualization, children’s overall brain
          processing speeds become faster, and this allows for the possibility of simultaneous processing, which is a
          feature of the Right Brain. In other words, our students learn to use their brains in a way that most people
          can only yearn after. To possess these two circuitries, children’s Right Brains need to be tapped into from an
          early age, and this gives them an overwhelming advantage when it comes to examinations for primary and
          secondary schools, as well as university. Furthermore, a remarkable ability that comes with Right Brain
          Development is Hado Reading, as introduced and explained elsewhere on this site. Absorbing the entire contents
          of a book instantly by just flipping through its pages is a skill and technique unique to the Right Brain. In
          the past, our classes at Heguru have received a great amount of media and TV coverage with particular regard
          to this Hado Reading method, and we remain the only educational network in the world that has the proven
          ability and knowhow to teach and develop this particular skill. Hado Reading improves not just academic
          performance, but also contributes to markedly greater success in sports, as well as arts such as music and
          painting. Heguru’s infant education creates “the roots and branches of a child’s abilities”. It is not a
          merely a place that teaches techniques and methods for passing exams. It is a place focused on unlocking the
          innate potential of children, and cultivating these talents to the greatest possible extent. Japan has many
          educational organizations specializing in teaching young children, but we at Heguru are the leading experts in
          building children’s futures through Right Brain-focused teaching, and we currently operate schools in Tokyo
          (Tachikawa), Nagoya, Niigata, Tochigi and several locations outside of Japan. For any parents thinking about
          infant classes for your child, why not sign up for a free trial at Heguru.
        </div>
      </Fragment>
    </Hero>

    <Features3
      title="Contact Us"
      subtitle="We’re here to help and answer any question you might have."
      columns={4}
      items={[
        {
          title: 'Phone',
          icon: 'tabler:phone',
          callToAction: {
            target: '_blank',
            text: '<span class="font-bold text-sm italic">School</span><br/><span class="text-sm">+959-123-456, 457, 458, <br/>+95-9-1234569</span><br/> <span class="font-bold text-sm italic">Office</span><br/><span class="text-sm">+959-123-456, 457, 458</span>',
            href: '#',
            variant: 'link',
          },
        },
        {
          title: 'Email',
          icon: 'tabler:mail',
          callToAction: {
            target: '_blank',
            text: '<span class="text-sm">heguru@gmail.com contact@heguru.com</span>',
            href: '#',
            variant: 'link',
          },
        },
        {
          title: 'Fax',
          icon: 'tabler:printer',
          callToAction: {
            target: '_blank',
            text: '<span class="font-bold text-sm italic">School</span><br/><span class="text-sm">+959-123-456, 457, 458, <br/>+95-9-1234569</span><br/> <span class="font-bold text-sm italic">Office</span><br/><span class="text-sm">+959-123-456, 457, 458</span>',
            href: '#',
            variant: 'link',
          },
        },
        {
          title: 'Address',
          icon: 'tabler:map',
          callToAction: {
            target: '_blank',
            text: '<span class="text-sm font-bold italic">School</span><br/><span class="text-sm">No. 100, Main Road, Yangon, Myanmar</span><br/><span class="text-sm font-bold italic">Japan Office</span><br/><span class="text-sm">No.6, Township, City</span>',
            href: '#',
            variant: 'link',
          },
        },
      ]}
    />
  </div>
</Layout>
