---
import HeroText from '~/components/widgets/HeroText.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <div class="lg:w-9/12 mx-auto px-8 lg:px-0">
    <HeroText isMain="main" tagline="About Us" title="About Heguru Education" subtitle="" />

    <div class="">
      <h1 class="font-bold text-blue-600 text-xl my-3">Education Philosophy</h1>
      <p class="mb-5">
        We at Heguru aim to nurture people who can make meaningful contributions to the happiness and evolutionary
        development of human beings in the world. <br />We strive to help people develop the ability to judge matters
        rationally with empathy and insight. <br />Heguru education cultivates the heart to be filled with love and
        bravery.
      </p>
      <p class="mb-5">
        Heguru သည် ကမ္ဘာပေါ်ရှိ လူသားများ၏ ပျော်ရွှင်မှုနှင့် ဖွံ့ဖြိုးတိုးတက်မှုအတွက် အဓိပ္ပာယ်ပြည့်ဝသော
        ပံ့ပိုးကူညီမှုများကို လုပ်ဆောင်နိုင်မည့်သူများအား ပြုစုပျိုးထောင်ရန် ရည်ရွယ်ပါသည်။ <br />Heguru သည်
        အရေးကိစ္စများအပေါ် စာနာမှု၊ထိုးထွင်းသိမြင်မှုတို့ဖြင့် ဆင်ခြင်တုံတရားရှိရှိ စီရင်ဆုံးဖြတ်နိုင်စွမ်း တိုးတက်စေရန်
        ကူညီပေးပါသည်။ <br />Heguru ပညာရေးသည် စိတ်နှလုံးသားကို ချစ်ခြင်းမေတ္တာနှင့် ရဲစွမ်းသတ္တိတို့ပြည့်ဝစေရန်
        ပြုစုပျိုးထောင်ပေးပါသည်။
      </p>

      <h1 class="font-bold text-blue-600 text-xl my-3 mt-10">Why Choose Heguru?</h1>
      <p class="mb-5">
        Discover how Heguru stands out from other brain training programs:<br /><br />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          class="size-6 inline text-blue-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
          ></path>
        </svg>
        World Leader: Experience our high-volume, high-speed classes supported by a unique two-teacher system!<br /><br
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          class="size-6 inline text-blue-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
          ></path>
        </svg> Bilingual Excellence: Our standard classes include English lessons, cultivating some of the best bilingual
        students.<br /><br />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          class="size-6 inline text-blue-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
          ></path>
        </svg> Super-Memory Skills: We equip children with exceptional memory techniques that set them apart.<br /><br
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          class="size-6 inline text-blue-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
          ></path>
        </svg> Comprehensive Development: Our curriculum includes numerous exercises that effectively train the Left Brain
        as well.<br /><br />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          class="size-6 inline text-blue-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
          ></path>
        </svg> Proven Success: Many of our students have gained acceptance to top universities worldwide, showcasing the
        effectiveness of our methods in developing strong skills across science, arts, music, and sports.
      </p>

      <h1 class="font-bold text-blue-600 text-xl my-3 mt-10">Heguru ကို ဘာကြောင့် ရွေးချယ်သင့်တာလဲ?</h1>
      <p class="mb-5">
        အခြား Brain Training ကျောင်းများနှင့်မတူဘဲ Heguru က မည်ကဲ့သို့ ကွဲပြားထင်ရှားနေသည်ကို စူးစမ်းလေ့လာကြည့်ပါ။ <br
        /><br />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          class="size-6 inline text-blue-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
          ></path>
        </svg> ကမ္ဘာ့ထိပ်တန်းအရည်အသွေး : ဆရာ/ဆရာမ (၂) ယောက်နှင့်အတူ သင်ကြားပေးသော တမူထူးခြားသည့်စနစ်နှင့် Heguru ၏ အသံနှုန်းမြင့်
        အမြန်နှုန်းမြင့် သင်တန်းများကို ကိုယ်တိုင်တက်ရောက်ခံစားကြည့်နိုင်ပါသည်။ <br /><br />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          class="size-6 inline text-blue-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
          ></path>
        </svg> Bilingual အတွေ့အကြုံ : စံချိန်စံညွှန်းနှင့်ပြည့်မီသော ကျွန်ုပ်တို့၏ အင်္ဂလိပ်သင်ခန်းစာများသည် အထူးချွန်ဆုံး
        bilingual ကျောင်းသား/ကျောင်းသူများကို မွေးထုတ်ပေးလျက်ရှိပါသည်။ <br /><br />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          class="size-6 inline text-blue-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
          ></path>
        </svg> အံ့ဩစရာမှတ်ဉာဏ်စွမ်းရည် : ကျွန်ုပ်တို့သည် ကလေးငယ်များအား အများထက်သာလွန်စေမည့် ထူးခြားသော မှတ်ဉာဏ်လေ့ကျင့်ရေးနည်းလမ်းများကို
        သင်ကြားပေးနေပါသည်။ <br /><br />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          class="size-6 inline text-blue-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
          ></path>
        </svg> ဘက်စုံဖွံ့ဖြိုးတိုးတက်မှု : Heguru ၏ သင်ရိုးညွန်းတမ်းများတွင် ဘယ်ဖက်ဦးနှောက်ကိုပါ ထိထိရောက်ရောက် လေ့ကျင့်ပေးသည့်
        လေ့ကျင့်ခန်းပေါင်းမြောက်များစွာ ပါဝင်ပါသည်။ <br /><br />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          class="size-6 inline text-blue-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
          ></path>
        </svg> သက်သေခိုင်မာသော အောင်မြင်မှု : Heguru ကျောင်းသားများသည် ကမ္ဘာ့အဆင့် ထိပ်တန်းတက္ကသိုလ်အသီးသီးတွင် ဝင်ခွင့်များရရှိခဲ့ကြပြီး
        ၎င်းသည် သိပ္ပံ၊ အနုပညာ၊ ဂီတနှင့် အားကစားစသည်တို့တွင် အရည်အချင်းခိုင်ခိုင်မာမာ တိုးတက်စေသည့် ကျွန်ုပ်တို့၏ သင်ကြားပုံနည်းလမ်းများ
        ထိရောက်ကြောင်းကို သက်သေပြနေကြပါသည်။
      </p>

      <p class="mb-5">
        Our students achieve incredible learning abilities in half the time—or even as little as one-tenth—of what is
        typically required for studying!<br />
        At Heguru, children are encouraged to explore their own interests while still achieving impressive results. Through
        our “high-efficiency learning” approach, these skills become second nature, transferable across various subjects
        and fields.<br />
        The key to mastering high-efficiency learning lies in unlocking the subconscious and developing the Right Brain.
        Heguru offers specialized classes for children focused on enhancing Right Brain capabilities.<br />
      </p>

      <p class="mb-5">
        Heguru ကျောင်းသားများသည် မယုံနိုင်လောက်ဖွယ် သင်ယူခြင်းစွမ်းရည်ကိုပိုင်ဆိုင်ကြပြီး စာလေ့လာရာတွင်
        ပုံမှန်လိုအပ်သောအချိန်၏ ထက်ဝက် သို့ ဆယ်ပုံတစ်ပုံလောက်အချိန်အတွင်း၌ပင် သင်ယူနိုင်စွမ်းရှိကြသည်။<br />

        Heguru တွင် ကလေးငယ်များသည် အံ့အားသင့်ဖွယ်ရလဒ်ကောင်းများကိုရရှိရင်းဖြင့်ပင် တစ်ချိန်တည်းမှာလည်း
        သူတို့စိတ်ဝင်စားသောအရာများကို လွတ်လပ်စွာ စူးစမ်းလေ့လာကြရန် တိုက်တွန်းအားပေးပါသည်။ <br />
        Heguru ၏ "စွမ်းဆောင်ရည်မြင့်မားသောသင်ယူမှု" ပုံစံမှတဆင့် ၎င်းစွမ်းရည်များသည် အကျင့်ဖြစ်လာပြီး ဘာသာရပ်၊နယ်ပယ်များစွာသို့
        ထိုစွမ်းရည်များကို လွှဲပြောင်းအသုံးချနိုင်မည်ဖြစ်ပါသည်။<br />

        "စွမ်းဆောင်ရည်မြင့်မားသောသင်ယူမှု" ကို ကျွမ်းကျင်ပိုင်နိုင်ဖို့ အဓိကသော့ချက်မှာ မသိစိတ်ကိုအလင်းဖွင့်ပေးပြီး
        ညာဖက်ဦးနှောက်ကို ဖွံ့ဖြိုးစေခြင်းဖြစ်ပါသည်။ Heguru သည်ကလေးငယ်များအတွက် ညာဖက်ဦးနှောက်ဖွံဖြိုးမှုကို
        အထူးပြုသင်ကြားသော သင်တန်းများကို ပို့ချပေးနေခြင်းဖြစ်ပါသည်။
        <br />
      </p>

      <h1 class="font-bold text-blue-600 text-xl my-3 mt-10">Interviews with Heguru Yangon Centre Director</h1>
      <div class="grid grid-cols-2 gap-4 mb-20">
        <iframe
          style="width:100%; border-radius: 5px;"
          height="315"
          src="https://www.youtube-nocookie.com/embed/nEygVPfyNPg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        >
        </iframe>
        <iframe
          style="width:100%; border-radius: 5px;"
          height="315"
          src="https://www.youtube-nocookie.com/embed/_IICmVmCbng"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
</Layout>
