---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Gallery',
};
---

<Layout metadata={metadata}>
  <div class="lg:w-9/12 mx-auto mb-10 mt-20">
    <h3 class="text-center font-bold text-3xl text-primary-500 mb-3 pt-10">Our Activities</h3>
    <p class="text-center text-gray-400 text-sm">Photos of our Activities!</p>
  </div>

  <div class="container mx-auto p-4">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div>
        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img1.jpg" alt="" />
          <span>Title 1</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img5.jpg" alt="" />
          <span>Title 2</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img8.jpg" alt="" />
          <span>Title 3</span>
        </div>
      </div>
      <div>
        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img12.jpg" alt="" />
          <span>Title 1</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img15.jpg" alt="" />
          <span>Title 2</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img13.jpg" alt="" />
          <span>Title 3</span>
        </div>
      </div>
      <div>
        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img3.jpg" alt="" />
          <span>Title 1</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img6.jpg" alt="" />
          <span>Title 2</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img15.jpg" alt="" />
          <span>Title 3</span>
        </div>
      </div>
      <div>
        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img11.jpg" alt="" />
          <span>Title 1</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img10.jpg" alt="" />
          <span>Title 2</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img5.jpg" alt="" />
          <span>Title 3</span>
        </div>
      </div>
    </div>

    <div class="lg:w-9/12 mx-auto mb-10">
      <h3 class="text-center font-bold text-3xl text-primary-500 mb-3 pt-10">Our Activities</h3>
      <p class="text-center text-gray-400 text-sm">Videos of our Activities!</p>
    </div>

    <!-- <div class="lg:w-9/12 md:w-full mx-auto grid lg:grid-cols-4 md:grid-cols-4 gap-2 gap-y-10 place-items-center"> -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-20">
      <iframe
        style="width:90%; border-radius: 5px;"
        height="315"
        src="https://www.youtube.com/embed/fzfa8G9kFr4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      >
      </iframe>
      <iframe
        style="width:90%; border-radius: 5px;"
        height="315"
        src="https://www.youtube.com/embed/21hmP6q10wQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      >
      </iframe>
      <iframe
        style="width:90%; border-radius: 5px;"
        height="315"
        src="https://www.youtube.com/embed/uAVztJem0pc"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      >
      </iframe>
      <iframe
        style="width:90%; border-radius: 5px;"
        height="315"
        src="https://www.youtube.com/embed/mQtOYzi-eEU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      >
      </iframe>
    </div>
    <!-- <div class="my-20 grid grid-cols-2 md:grid-cols-4 gap-4">
      <div>
        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img1.jpg" alt="" />
          <span>Title 1</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img5.jpg" alt="" />
          <span>Title 2</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img8.jpg" alt="" />
          <span>Title 3</span>
        </div>
      </div>
      <div>
        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img12.jpg" alt="" />
          <span>Title 1</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img15.jpg" alt="" />
          <span>Title 2</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img13.jpg" alt="" />
          <span>Title 3</span>
        </div>
      </div>
      <div>
        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img3.jpg" alt="" />
          <span>Title 1</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img6.jpg" alt="" />
          <span>Title 2</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img15.jpg" alt="" />
          <span>Title 3</span>
        </div>
      </div>
      <div>
        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img11.jpg" alt="" />
          <span>Title 1</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img10.jpg" alt="" />
          <span>Title 2</span>
        </div>

        <div class="mx-5">
          <img class="h-auto max-w-full rounded-lg" src="/img5.jpg" alt="" />
          <span>Title 3</span>
        </div>
      </div>
    </div> -->
  </div>
</Layout>
