---
// import { RecoilRoot } from 'recoil';
import Dashboard from '~/components/functional/Dashboard';
import AuthLayout from '~/layouts/AuthLayout.astro';

const metadata = {
  title: 'Authenticated',
};
---

<AuthLayout metadata={metadata}>
  <div class="my-20 mt-32">
    <!-- <RecoilRoot client:only="react"> -->
    <Dashboard client:only="react" />
    <!-- </RecoilRoot> -->
  </div>
</AuthLayout>
