---
import ContactUs from '~/components/widgets/Contact.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <!-- <HeroText tagline="Contact" title="Let's Connect!" /> -->
  <div class="my-20">
    <Features3
      title="Contact Us"
      subtitle="We’re here to help and answer any question you might have."
      columns={4}
      items={[
        {
          title: 'Phone',
          icon: 'tabler:phone',
          callToAction: {
            target: '_blank',
            text: '<span class="font-bold text-sm italic">School</span><br/><span class="text-sm">+959-123-456, 457, 458, <br/>+95-9-1234569</span><br/> <span class="font-bold text-sm italic">Office</span><br/><span class="text-sm">+959-123-456, 457, 458</span>',
            href: '#',
            variant: 'link',
          },
        },
        {
          title: 'Email',
          icon: 'tabler:mail',
          callToAction: {
            target: '_blank',
            text: '<span class="text-sm">heguru@gmail.com contact@heguru.com</span>',
            href: '#',
            variant: 'link',
          },
        },
        {
          title: 'Fax',
          icon: 'tabler:printer',
          callToAction: {
            target: '_blank',
            text: '<span class="font-bold text-sm italic">School</span><br/><span class="text-sm">+959-123-456, 457, 458, <br/>+95-9-1234569</span><br/> <span class="font-bold text-sm italic">Office</span><br/><span class="text-sm">+959-123-456, 457, 458</span>',
            href: '#',
            variant: 'link',
          },
        },
        {
          title: 'Address',
          icon: 'tabler:map',
          callToAction: {
            target: '_blank',
            text: '<span class="text-sm font-bold italic">School</span><br/><span class="text-sm">No. 100, Main Road, Yangon, Myanmar</span><br/><span class="text-sm font-bold italic">Japan Office</span><br/><span class="text-sm">No.6, Township, City</span>',
            href: '#',
            variant: 'link',
          },
        },
      ]}
    />
    <div class="lg:w-2/3 w-5/6 mx-auto my-10">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.403848014425!2d96.14200939999999!3d16.8063099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1eb4b37d505d7%3A0xa59619402c06b6ee!2sHeguru!5e0!3m2!1sen!2sth!4v1726456903668!5m2!1sen!2sth"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        class="w-full"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <ContactUs
      id="form"
      title="Drop us a message today!"
      subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
      inputs={[
        {
          type: 'text',
          name: 'name',
          label: 'Name',
        },
        {
          type: 'email',
          name: 'email',
          label: 'Email',
        },
      ]}
      textarea={{
        name: 'message',
        label: 'Message',
      }}
      disclaimer={{
        label:
          'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
      }}
      description="Our support team typically responds within 24 business hours."
    />
  </div>
</Layout>
