---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'FAQ',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <!-- <HeroText tagline="FAQ" title="FAQs section!" /> -->
  <div class="lg:w-9/12 mx-auto mb-7 mt-20">
    <h3 class="text-center font-bold text-3xl text-primary-500 mb-3 pt-10">FAQs Section!</h3>
    <p class="text-center text-gray-400 text-sm">Explore our FAQ section.</p>
  </div>

  <div class="flex items-center justify-center px-6 bg-white pb-20">
    <div>
      <div class="relative w-full lg:w-3/4 md:w-4/5 mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>When is the Best Time to Start?</span><br />
          <span class="text-sm text-gray-500"
            >When it comes to right brain development, the earlier, the better. As children grow older, achieving
            optimal results becomes more challenging. Generally, it is believed that age 6 is the critical limit;
            however, at HEGURU, we extend this limit to age 9.<br />
            If a child demonstrates a genuine interest in the activities we offer, there are instances where children over
            10 have successfully developed their right brain. The key is for the child to engage with a pure sense of curiosity.<br
            /><br />

            <strong>Brain Training စလုပ်ဖို့အကောင်းဆုံးအချိန်က ဘယ်အချိန်လဲ?</strong>
            <br /> ညာဖက်ဦးနှောက်ဖွံ့ဖြိုးမှုနဲ့ပတ်သက်၍ စောလေ ပိုကောင်းလေဖြစ်ပါသည်။ တနည်းပြောရလျင် ကလေးငယ်အရွယ်ရောက်လာသည်နှင့်အမျှ
            ပိုမိုကောင်းမွန်သော ရလဒ်ကိုရရှိရန်မှာ ပို၍ခဲယဉ်းသွားပါသည်။ ယေဘုယျအားဖြင့် အချိန်အကန့်အသတ်သည် ၆နှစ်အရွယ်ထိသာဖြစ်သည်ဟု
            ဆိုကြပါသည်။ သို့သော် Heguru တွင် အသက် ၉နှစ်အရွယ်အထိ ကန့်သတ်ထားပါသည်။<br />
            အကယ်၍ ကလေးက Heguru ၏ သင်ကြားမှုများကို အမှန်တကယ်စိတ်ဝင်တစားရှိမည်ဆိုပါက အသက် ၁၀နှစ်ကျော်အရွယ်ကလေးများသည်ပင် ညာဖက်ဦးနှောက်ကို
            အောင်အောင်မြင်မြင် ဖွံ့ဖြိုးအောင်လေ့ကျင့်ပေးနိုင်ခဲ့သော ဖြစ်ရပ်များရှိခဲ့ဖူးပါသည်။ အဓိကအချက်မှာ ကလေးအနေဖြင့်
            အမှန်တကယ်စိတ်ဝင်စားမှုရှိရန်သာဖြစ်ပါသည်။
          </span>
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-3/4 md:w-4/5 mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>How Long Does It Take to Start Seeing Results?</span><br />
          <span class="text-sm text-gray-500"
            >The timeline for seeing results varies by individual. Typically, you may begin to notice differences within
            3 to 6 months. After about a year, you can expect to see tangible results in various areas. <br /><br />
            <strong>သိသာတဲ့ရလဒ်ကိုမြင်ရဖို့ အချိန်ဘယ်လောက်ကြာမလဲ?</strong>
            <br />
            သိသာသော ရလဒ်ထွက်ပေါ်လာရန်ကြာချိန်မှာ ကလေးတစ်ဦးချင်းစီ အပေါ်မူတည်ပါသည်။ ပုံမှန်အားဖြင့် ၃လမှ ၆လအတွင်းတွင် ပြောင်းလဲလာမှုများကို
            ခံစားရနိုင်ပါသည်။ ၁နှစ်ဝန်းကျင်ခန့်တွင် ကဏ္ဍမျိုးစုံ၌ သိသာသော ရလဒ်များကို စတင်တွေ့မြင်နိုင်မည်ဖြစ်ပါသည်။
          </span>
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-3/4 md:w-4/5 mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>How Are We Different from Other Schools?</span><br />
          <span class="text-sm text-gray-500"
            >We distinguish ourselves with a wealth of expertise in right brain development. In addition to this focus,
            we also nurture the mind and heart by instilling human values and moral principles.
            <br /><br />
            <strong>အခြားကျောင်းတွေနဲ့ ဘာတွေကွာခြားမှုရှိလဲ?</strong>
            <br />
            Heguru ၏ ညာဘက်ဦးနှောက်ဖွံ့ဖြိုးမှုအတွက် နည်းလမ်းများစွာသည် အခြားကျောင်းများနှင့် မတူဘဲ ထူးခြားထင်ရှားပါသည်။ ထို့အပြင်
            Heguru တွင် လူ့တန်ဖိုးနှင့် ကျင့်ဝတ်များကို သင်ကြာပေးခြင်းဖြင့် စိတ်နှင့် နှလုံးသားကို ပြုစုပျိုးထောင်ပေးပါသည်။
          </span>
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-3/4 md:w-4/5 mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>How Qualified Are Our Teachers?</span><br />
          <span class="text-sm text-gray-500"
            >In addition to holding relevant degrees, all of our teachers undergo intensive training in Japan, where
            they are personally trained and certified by Ruiko Henmi, the founder of the Heguru program. They also
            participate in continuous in-house training to ensure their skills remain current.
            <br /><br />
            <strong>ဆရာ/ဆရာမတွေက ဘယ်လောက်ထိအရည်အချင်းတွေရှိကြလဲ?</strong>
            <br />
            Heguru မှ ဆရာ၊ဆရာမများသည် ဂျပန်နိုင်ငံတွင် Heguru ကို စတင်တည်ထောင်သူ Mrs. Ruiko Henmi ကိုယ်တိုင်လေ့ကျင့်သင်ကြားပေးသော
            Training Program ကို တက်ရောက်ရပြီး အရည်အချင်းများ အမြဲတိုးတက်နေရန် စဉ်ဆက်မပြတ် လေ့ကျင့်နေရပါသည်။
          </span>
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-3/4 md:w-4/5 mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>What Are the Benefits of Right Brain Education?</span><br />
          <span class="text-sm text-gray-500"
            >The left brain is more logical, analytical, and sequential, operating at a slower pace compared to the
            right brain. Right brain education enhances capabilities such as speed reading, accelerated learning, and
            potentially higher IQ. It also fosters the ability to master multiple languages, greater concentration and
            focus, and excellence in music and sports.<br />
            Students engaged in right brain education often exhibit high levels of intuition and emotional intelligence,
            excelling in problem-solving. Additionally, they possess strong photographic and linking memory skills, along
            with creative genius.<br /><br />
            <strong>ညာဖက်ဦးနှောက်ပညာရေး၏ အကျိုးကျေးဇူးတွေက ဘာတွေလဲ?</strong>
            <br />
            ဘယ်ဖက်ဦးနှောက်သည် ကျိုးကြောင်းဆက်စပ်မှု၊ ဝေဖန်ဆန်းစစ်မှုနှင့် အစီအစဥ်တကျ ဖြစ်ပေါ်မှုများတွင် ပို၍အလေးသာပြီး အရှိန်အဟုန်ဖြင့်
            စာဖတ်ခြင်း၊ သင်ယူခြင်း၊ IQ မြင့်မားခြင်း၊ ဘာသာစကားမျိုးစုံကို ကျွမ်းကျင်ပိုင်နိုင်ခြင်း၊ ပိုမိုကောင်းမွန်သော
            အာရုံစူးစိူက်မှုနှင့် ဂီတ၊အားကစားတို့တွင် ထူးချွန်ခြင်းစသည့်စွမ်းရည်များကို ပေးစွမ်းသည့် ညာဖက်ဦးနှောက်ထက် ပို၍နှေးကွေးစွာ
            လုပ်ဆောင်ပါသည်။ ညာဖက်ဦးနှောက်ဖွံ့ဖြိုးသော ကျောင်းသားများသည် ပင်ကိုသိစိတ်နှင့် စိတ်ခံစားမှုဆိုင်ရာဉာဏ်ရည်မြင့်မားကြပြီး
            ပြဿနာများကိုဖြေရှင်းရာတွင် ကျွမ်းကျင်ကြပါသည်။ Heguru ကျောင်းသားများသည် တစ်ခါမြင်ပြီးလျှင်စွဲမြဲမှတ်မိနေသော မှတ်ဉာဏ်နှင့်
            ချိတ်ဆက်မှတ်သားနိုင်သော မှတ်ဉာဏ်စွမ်းရည်များပိုင်ဆိုင်ကြပြီး ထိုးထွင်းတီထွင်နိုင်စွမ်းရှိသော ဉာဏ်ကြီးရှင်များဖြစ်ကြပါသည်။
          </span>
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-3/4 md:w-4/5 mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>What Happens if a Child Cannot Stay Focused During Class or Starts Crying?</span><br />
          <span class="text-sm text-gray-500"
            >All HEGURU classes are conducted with loud volume and at a fast pace, which helps engage children and
            maintain their focus. We encourage you to try this approach a few times; you will likely find that children
            quickly acclimate and adjust to the environment.<br /><br />
            <strong>ကလေးကအတန်းထဲမှာ အာရုံမစိုက်နိုင်တာ ဒါမှမဟုတ် ငိုတာတွေဖြစ်ရင် ဘယ်လိုလုပ်မလဲ?</strong>
            <br />
            Heguru အတန်းများအားလုံးသည် အသံကျယ်ကျယ်၊ အရှိန်မြန်မြန်ဖြစ်သောကြောင့် ကလေးငယ်များအတွက် အာရုံစိုက်ရန် ပိုမို လွယ်ကူစေပါသည်။
            အတန်းကို အကြိမ်အနည်းငယ်မျှတက်ပြီးသွားလျှင် မကြာခင်မှာပင် ကလေးငယ်အနေဖြင့် သင်ကြားပုံကို ကျင့်သားရသွာမည်ဖြစ်ကြောင်း
            တွေ့မြင်နိုင်ပါသည်။
          </span>
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-3/4 md:w-4/5 mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>What Are Your Thoughts on the Criticism of Flash Cards?</span><br />
          <span class="text-sm text-gray-500"
            >Regarding the criticism of flash cards, we believe the issues often stem not from the flash cards
            themselves, but from how they are used. Common pitfalls include: <br />- Using flash cards when the child is
            clearly uninterested <br />
            - Using too many or too few flash cards <br />
            - Not flashing the cards quickly enough <br />
            - Parents displaying irritation when the child struggles to focus <br />

            If these factors are present, they could contribute to negative experiences with flash cards.<br />
            As for their effectiveness, using flash cards can stimulate the brain when the images and words are visualized
            rapidly alongside the spoken words. This simultaneous engagement can enhance learning and retention.
            <br /><br />

            <strong
              >Flash card နဲ့ပတ်သတ်ပြီး မကောင်းဘူးဆိုပြီးတော့ အွန်လိုင်းမှာ ဝေဖန်မှုတွေ
              ဖတ်ရတယ်…အဲဒါနဲ့ပတ်သက်ပြီးအမြင်နဲ့ flash card တွေကဘယ်လောက်ထိရောက်မှုရှိလဲဆိုတာ သိချင်တယ်?</strong
            >
            <br />
            ဝေဖန်မှုတွေနဲ့ပတ်သက်၍ ပြောရမည်ဆိုပါက flash card ကြောင့်မဟုတ်ဘဲ flash card ကို မည်သို့ ကိုင်တွယ်အသုံးပြုသလဲဆိုသည်နှင့်ပို၍သက်ဆိုင်သည်ဟု
            ယူဆပါသည်။ ဥပမာပြောရလျှင်<br />
            ၁. ကလေးများ စိတ်မဝင်စားကြောင်းသိသာနေပါလျက်နှင့် Flash card များကို အသုံးပြုခြင်း<br />
            ၂.Flash card ကို အလွန်များပြားစွာ/ အလွန်နည်းပါးစွာ အသုံးပြုခြင်း<br />
            ၃. Flash card ကို လုံလောက်အောင် လျင်လျင်မြန်မြန်မပြနိုင်ခြင်း<br />
            ၄. ကလေးက အာရုံမစိုက်နိုင်သည့်အခါတွင် မိဘမှ ကသိကအောက်ဖြစ်သည့်ပုံစံပြခြင်း<br />

            အကယ်၍ ဤအချက်များရှိနေပါက flash cards နှင့်ပတ်သတ်၍ အပျက်သဘောဆောင်သော အတွေ့အကြုံများအဖြစ်
            မှတ်ယူသွားနိုင်ပါသည်။<br />

            Flash card များ၏ထိရောက်မှုနှင့်ပတ်သတ်၍ဆိုရလျင် flash cards များသည် စကားလုံးကိုပြောရင်းဖြင့် ရုပ်ပုံနှင့်
            စာလုံးများကို လျင်မြန်စွာပြသချိန်တွင် ဦးနှောက်ကို လှုံ့ဆော်မှုဖြစ်စေပါသည်။ ထိုလှုံ့ဆော်မှုသည် သင်ယူမှုနှင့်
            စွဲမြဲမှတ်မိမှုတို့ကို တိုးတက်စေနိုင်ပါသည်။
          </span>
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-3/4 md:w-4/5 mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>Are High-Speed Programs Meaningful?</span><br />
          <span class="text-sm text-gray-500"
            >At HEGURU, our lessons are conducted at an extreme speed, which may initially seem overwhelming to parents.
            However, our goal is to lay a strong foundation for developing the subconscious mind, and speed is a crucial
            component of this process.<br />
            To effectively stimulate and nurture the right brain, both high speed and high volume are essential. Much of
            what occurs in the subconscious is subtle and often goes unnoticed. By participating in our high-speed lessons,
            you will become accustomed to the unique approach we take, all of which contributes to the development of the
            right brain.<br /><br />
            <strong>အရှိန်မြန်တဲ့သင်ကြားရေးပရိုဂရမ်တွေက အဓိပ္ပါယ်ရောရှိပါ့မလား?</strong>
            <br />
            Heguru တွင် သင်ခန်းစာများသည် အလွန်လျင်မြန်သောကြောင့် အစပိုင်းတွင် မိဘများအတွက် လွန်ကဲသလို ထင်ရနိုင်ပါသည်။ သို့သော်
            Heguru ၏အဓိကပန်းတိုင်မှာ မသိစိတ်ကို ဖွံ့ဖြိုးစေရန် ခိုင်မာသော အခြေခံကို အုတ်မြစ်ချပေးလိုခြင်းဖြစ်ပြီး အရှိန်မြန်ခြင်းမှာ
            ဤလုပ်ငန်းစဉ်၏ အဓိကပင်မသော့ချက်ပင်ဖြစ်ပါသည်၊ <br />

            ညာဖက်ဦးနှောက်ကို ထိထိရောက်ရောက် လှုံ့ဆော်ပြီး ဖွံ့ဖြိုးအောင်ပြုစုပျိုးထောင်ရန်အတွက် အရှိန်မြန်မြန်၊
            အသံကျယ်ကျယ်မှာ မရှိမဖြစ်အရေးပါသည်။ မသိစိတ်တွင်ဖြစ်ပေါ်နေသော အရာအတော်များများသည် မသိသာဘဲ အချိန်အများစုတွင်
            သတိမထားမိဖြစ်တတ်ကြသည်။ Heguru ၏အရှိန်မြန်မြန် သင်ခန်းစာများတွင် ပါဝင်သင်ကြားပါက တမူထူးခြားသော သင်ကြားပုံကို
            အသားကျလာပြီး ညာဘက်ဦးနှောက်ဖွံ့ဖြိုးမှုကို အထောက်အကူဖြစ်စေပါသည်။
          </span>
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-3/4 md:w-4/5 mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>How Does the Program Benefit the Child?</span><br />
          <span class="text-sm text-gray-500"
            >The brain functions like a muscle: the more you exercise it, the stronger it becomes. Regular right brain
            training allows a child to form significantly more neural connections within the right hemisphere compared
            to those who do not participate in such training. These additional neural connections enhance brain capacity
            and increase the speed at which children can absorb information and make connections to solve problems.<br
            />
            As a result, children who undergo right brain training typically exhibit improved concentration, longer attention
            spans, and superior comprehension abilities. They are also better able to articulate their thoughts and tend
            to be more confident. With these valuable skills, they can grasp concepts more quickly, reducing the time needed
            for studying and promoting a healthier school-life balance.
            <br /><br />
            <strong>Heguru Program က ကလေးတွေအတွက် ဘယ်လိုအကျိုးရှိလဲ?</strong>
            <br />

            ဦးနှောက်၏လုပ်ဆောင်ချက်သည် ကြွက်သားတစ်ခုကဲ့သို့ပင်ဖြစ်သည်။၊ လေ့ကျင့်ခန်းပိုလုပ်ပါက ပိုသန်မာလာမည်ဖြစ်သည်။
            ပုံမှန် ညာဖက်ဦးနှောက်လေ့ကျင့်မှုများသည် ကလေးကို ဦးနှောက်ညာဖက်ခြမ်းအတွင်းတွင် နျူရွန်ချိတ်ဆက်မှုများ
            ပိုမိုဖြစ်ပေါ်စေပြီး ညာဖက်ဦးနှောက်လေ့ကျင့်မှုမလုပ်ထားသူများနှင့် နှိုင်းယှဉ်ပါက နျူရွန်ချိတ်ဆက်မှုမ
            သိသာသာပိုမိုများပြာပါသည်။ ထိုသို့သော အပိုနျူရွန်ချိတ်ဆက်မှုများသည် ဦးနှောက်စွမ်းဆောင်ရည်ကို တိုးပွားစေပြီး
            ကလေးများအနေဖြင့် အချက်အလက်များကိုစုပ်ယူရာတွင်နှင့် ပြဿနာများကိုဖြေရှင်းရန်အတွက် အချက်အလက်များကို
            ချိတ်ဆက်တွေးတောရာတွင် ပိုမိုလျင်မြန်စေပါသည်၊<br />

            ရလဒ်အနေဖြင့် ညာဖက်ဦးနှောက်လေ့ကျင်မှုပြုလုပ်ထားသောကလေးများသည် ပုံမှန်အားဖြင့် အာရုံစူးစိုက်မှုပိုကောင်းကြပြီး
            အချိန်ကြာကြာအာရုံစိုက်နိုင်ခြင်းနှင့် နားလည်နိုင်စွမ်းပိုမိုမြင့်မားကြပါသည်။
            ညာဖက်ဦးနှောက်လေ့ကျင်မှုပြုလုပ်ထားသော ကလေးများသည် အတွေးများကို ထုတ်ဖော်ပြောဆိုနိုင်စွမ်း ပိုကောင်းကြပြီး
            ယုံကြည်မှုပိုမိုရှိကြပါသည်။ ဤတန်ဖိုးရှိသော အရည်အချင်းများပိုင်ဆိုင်ထားခြင်းဖြင့် ကလေးများသည် သဘောတရားများကို
            လျင်မြန်စွာ နားလည်သဘောပေါက် နိုင်ကြသောကြောင့် စာလေ့လာရန်လိုအပ်သောအချိန်များကို လျော့ချနိုင်ပြီး
            ပိုမိုကျန်းမာသော school-life မျှခြေကို မြှင့်တင်နိုင်ကြပါသည်။
          </span>
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-3/4 md:w-4/5 mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>Can the Abilities Cultivated at HEGURU Be Used in Adulthood?</span><br />
          <span class="text-sm text-gray-500"
            >Yes, one of our primary objectives is to cultivate abilities that can be utilized well into adulthood. It’s
            often said that "child prodigies do not grow into adult geniuses," but we aim to change that narrative.<br
            />
            At HEGURU, we offer numerous programs beyond our standard classes to help solidify the abilities developed during
            training. These skills continue to flourish throughout a child’s growth—during junior high school, high school,
            and into college. The more opportunities there are to practice these skills, the more they evolve, becoming stable
            and enduring into adulthood.

            <br /><br />
            <strong>Hegru မှာပြုစုပျိုးထောင်ခဲ့တဲ့စွမ်းရည်တွေက အရွယ်ရောက်လာတဲ့အချိန်မှာရော အသုံးချလို့ရနိုင်လား?</strong
            >
            <br />

            အရွယ်ရောက်ချိန်တွင် ကောင်းမွန်စွာအသုံးချနိုင်မည့် စွမ်းရည်များကို ပြုစုပျိုးထောင်ပေးရန်မှာ Heguru ၏အဓိက
            ရည်ရွယ်ချက်များထဲမှ တစ်ခုဖြစ်ပါသည်။ ကလေးအရွယ်မှာ ဉာဏ်ကြီးရှင်ဖြစ်ခဲ့သူများသည် အရွယ်ရောက်ချိန်မှာ
            ဉာဏ်ကြီးရှင်မဖြစ်လာကြ ဟူသောစကားကို လူအများစု မကြာခဏပြောလေ့ရှိကြသည်။ သို့သော် Heguru အနေဖြင့် ဤအရာကို
            ပြောင်းလဲပစ်ရန် ရည်ရွယ်ထားပါသည်။ <br />

            Heguru တွင် ဦးနှောက်ဖွံ့ဖြိုးမှုလေ့ကျင့်နေစဉ်အတွင်း တိုးတက်လာသော စွမ်းရည်များကို ပိုမိုခိုင်မာလာအောင်
            ကူညီပေးသော ပရိုဂရမ်ပေါင်းများစွာကို ဖွင့်လှစ်ထားပါသည်။ ထိုစွမ်းရည်များသည် ကလေး၏ကြီးပြင်းလာမှုတလျှောက်—
            အလယ်တန်း၊အထက်တန်းမှ တက္ကသိုလ်ဝင်ရောက်သည်အထိ တပါတည်း လိုက်ပါတိုးတက်နေပါသည်။ ထိုစွမ်းရည်များကို
            လေ့ကျင့်နိုင်မည့်အခွင့်အရေးပိုများလေ ပိုမိုဖွံ့ဖြိုးတိုးတက်လာလေဖြစ်ပြီး အရွယ်ရောက်သည့်အချိန်တွင်
            ထိုစွမ်းရည်များသည် တည်ငြိမ်ပြီး ကြာရှည်စွဲမြဲသွားမည်ဖြစ်ပါသည်။
          </span>
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
    </div>
  </div>
</Layout>
