---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'FAQ',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <!-- <HeroText tagline="FAQ" title="FAQs section!" /> -->
  <div class="lg:w-9/12 mx-auto mb-10 mt-20">
    <h3 class="text-center font-bold text-3xl text-primary-500 mb-3 pt-10">FAQs Section!</h3>
    <p class="text-center text-gray-400 text-sm">Explore our FAQ section.</p>
  </div>

  <div class="flex items-center justify-center px-6 bg-white pb-20">
    <div>
      <div class="relative w-full lg:w-1/2 md:w-2/3 mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>Can adults develop to utilize the right brain?</span><br />
          <span class="text-sm text-gray-500"
            >We offer a 3 to 4-day PAD: Potential Ability Development Course, which adults can participate seasonally, 4
            times a year. The PAD course held in autumn is especially for adults, offered with simultaneous interpreting
            provided (currently in English and Chinese) for participants from overseas, creating a very global
            atmosphere.</span
          >
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-1/2 md:w-2/3 xs:w-full mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>Will IQ scores go up?</span><br />
          <span class="text-sm text-gray-500"
            >Though we do not any more, we have conducted IQ tests at HEGURU a few times in the past and the scores
            recorded then are publicly announced. Through our students’ recent IQ test results taken at institutions
            elsewhere, the scores shows a steady increase. Many of our students exhibit scores over 160, even 200.</span
          >
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-1/2 md:w-2/3 xs:w-full mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>Can we expect results from any child?</span><br />
          <span class="text-sm text-gray-500"
            >Let us keep in mind that all children have differences in capabilities and therefore the results will not
            be identical. However, in an overall sense, every single student displays improvement in his own way. In
            some cases, the parents desire results in a single aspect, making them blind to see progress their children
            had made in other areas. In situations like this, we as professionals, guide the parents so they can
            comprehend the developing process. Eventually, the parents will see that everything will fall in place, and
            in the end will see their children bloom.</span
          >
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-1/2 md:w-2/3 xs:w-full mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>Could the abilities be used in fields other than in studies?</span><br />
          <span class="text-sm text-gray-500"
            >Yes, of course. You will be able to see progress in academic studies. But the earliest results are seen in
            fields indulged in the most, such as sports or in art. The reason for this is self-explanatory, as obviously
            the child will be engrossed in what he likes the most.</span
          >
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-1/2 md:w-2/3 mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>Can adults develop to utilize the right brain?</span><br />
          <span class="text-sm text-gray-500"
            >We offer a 3 to 4-day PAD: Potential Ability Development Course, which adults can participate seasonally, 4
            times a year. The PAD course held in autumn is especially for adults, offered with simultaneous interpreting
            provided (currently in English and Chinese) for participants from overseas, creating a very global
            atmosphere.</span
          >
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-1/2 md:w-2/3 xs:w-full mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>Will IQ scores go up?</span><br />
          <span class="text-sm text-gray-500"
            >Though we do not any more, we have conducted IQ tests at HEGURU a few times in the past and the scores
            recorded then are publicly announced. Through our students’ recent IQ test results taken at institutions
            elsewhere, the scores shows a steady increase. Many of our students exhibit scores over 160, even 200.</span
          >
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-1/2 md:w-2/3 xs:w-full mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>Can we expect results from any child?</span><br />
          <span class="text-sm text-gray-500"
            >Let us keep in mind that all children have differences in capabilities and therefore the results will not
            be identical. However, in an overall sense, every single student displays improvement in his own way. In
            some cases, the parents desire results in a single aspect, making them blind to see progress their children
            had made in other areas. In situations like this, we as professionals, guide the parents so they can
            comprehend the developing process. Eventually, the parents will see that everything will fall in place, and
            in the end will see their children bloom.</span
          >
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
      <div class="relative w-full lg:w-1/2 md:w-2/3 xs:w-full mx-auto">
        <p class="mt-6 border-l-4 border-dotted px-4">
          <span>Could the abilities be used in fields other than in studies?</span><br />
          <span class="text-sm text-gray-500"
            >Yes, of course. You will be able to see progress in academic studies. But the earliest results are seen in
            fields indulged in the most, such as sports or in art. The reason for this is self-explanatory, as obviously
            the child will be engrossed in what he likes the most.</span
          >
        </p>
        <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
      </div>
    </div>
  </div>
</Layout>
