---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Programs',
  items: [],
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <div class="lg:w-9/12 mx-auto mb-10 mt-24">
    <h3 class="text-center font-bold text-3xl text-primary-500 mb-3 pt-10">Infant & Toddler Class</h3>
    <p class="text-center text-gray-600 text-sm">မွေးကင်းစကလေး၊ လမ်းလျှောက်ခါစ ကလေးများနှင့် သက်ဆိုင်သည့် သင်တန်း</p>
  </div>

  <!-- component -->
  <div class="w-full">
    <div class="w-full lg:w-9/12 mx-auto">
      <div class="text-box text-sm text-gray-600 text-justify px-5 mb-10">
        Parents create mental connections with their children, fostering significant capacity for brain development.<br
        />
        မိဘများသည် မိိမ၏ကလေးများနှင့် စိတ်ပိုင်းဆိုင်ရာ ဆက်သွယ်မှုများ ပြုလုပ်ခြင်းဖြင့် ဦးနှောက်၏လုပ်ငန်းဆောင်တာများနှင့်
        လုပ်နိုင်စွမ်းအား ကြီးမားလာအောင် တည်ဆောက်နိုင်သည်။
        <br /><br />
        Data is transmitted to the right brain in large volumes and at high speeds. The primary focus is not on understanding;
        rather, the emphasis is on the input of data.
        <br />

        များပြားလှစွာသော သတင်းအချက်အလက် အမြောက်အများကို လျင်မြန်သောနှုန်းဖြင့် ညာဖက်ဦးနောက်ထဲသို ဝင်ရောက်မှတ်သား
        ပေးပို့နိုင်သည်။ ထိုအသက်အရွယ်တွင် သတင်းအချက်အလက်များကို နားလည်ခြင်းထက် ဦးနှောက်အတွင်းသို ထိုအချက်အလက်များ
        ထည့်သွင်းခြင်းမှာ ပို၍အရေးကြီးသည်။
        <br /><br />

        <strong>Duration:</strong> 50 minutes<br />
        <strong>Child's Age:</strong> 6 months to 3.6 years<br />
        <strong>Number of Classes:</strong> 42 per year<br /><br />

        ကြာချိန်- ၅၀ မိနစ်<br />
        မွေးခင်းက ၆ လ မှ ၃ နှစ်ခွဲအထိ<br />
        အတန်းအရေအတွက် တစ်နှစ်လျှင် ၄၂ တန်း
        <br />

        <h1 class="font-bold mt-10 mb-5 text-blue-600">Highlights of This Program:</h1>

        <ul class="list-disc ml-5">
          <li>
            <strong>Enhancing Brain Capacity:</strong> Focus on enlarging the brain capacity of children.
          </li>
          <li>
            <strong>Personalized Guidance:</strong> With two teachers in the class, lessons are fast-paced and provide personal
            guidance.
          </li>
          <li>
            <strong>Engaging Environment:</strong> Effective use of lighting, sound, and rhythm creates an environment that
            helps unleash your child’s genius.
          </li>
          <li>
            <strong>Parent Participation:</strong> Parents actively participating alongside their children helps activate
            their potential abilities.
          </li>
          <li>
            <strong>Expert Insights:</strong> Teachers share valuable insights on various aspects of raising a child.
          </li>
          <li>
            <strong>Collaborative Growth:</strong> The program fosters a happy environment for both parents and children
            to grow together.
          </li>
          <li>
            <strong>Individual Follow-ups:</strong> Regular one-on-one follow-ups ensure substantial individual attention.
          </li>
        </ul>

        <h1 class="font-bold mt-10 mb-5 text-blue-600">Heguru သင်ရိုး၏ အဓိကအားသာချက်များ</h1>
        ၁. ဦးနှောက်၏ လုပ်ဆောင်နိုင်စွမ်းကို မြှင့်တင်ပေးခြင်း <br /><br />

        ၂. သင်ကြားရာတွင် ဆရာမ ၂ယောက်ထားရှိ၍ ကျောင်းသားကျောင်းသူတစ်ယောက်ချင်းစီအား အထူး ဂရုစိုက်သင်ကြားပေးခြင်းဖြင့်
        သင်ခန်းစာများကို လျင်မြန်စွာ ပြီးစီးစေခြင်း<br /><br />

        ၃. ကလေးများ၌ရှိသည့် ထူးကဲသော ပါရမီများကို လှုံ့ဆော်ပေါ်ထွက်လာစေရန် အသံ၊ မီးအလင်းအမှောင် တေးဂီတသံစဉ်များကို
        သင့်တော်သောအချိန်တွင် အကျိုးရှိရှိ အသုံးပြု၍ ထိရောက်သော ပတ်ဝန်းကျင်တစ်ခုကို ဖန်တီးပေးခြင်း<br /><br />

        ၄. မိဘများမှ ပူးပေါင်းပါဝင်တက်ရောက်ခြင်းဖြင့် ကလေးငယ်တို့၏ စွမ်းဆောင်နိုင်သော အရည်အသွေးများကို လှုံ့ဆော်ရာတွင်
        အကူအညီဖြစ်စေခြင်း<br /><br />

        ၅. ကလေးငယ်များကို ပြုစုပျိုးထောင်ခြင်းနှင့် ပတ်သက်သည့်အတွေးအခေါ် ၊ အတွေ့အကြုံအမျိုးမျိုးကို ဆရာမများနှင့်
        မျှဝေခြင်း၊ ဆွေးနွေးတိုင်ပင်ခြင်းများ ပြုလုပ်နိုင်ခြင်း<br /><br />

        ၆. ဤသင်ကြားရေးသည် ပျော်ရွှင်စရာကောင်းသော ပတ်ဝန်းကျင်၌ မိဘရော၊ ကလေးပါ ဦးနှောက်စွမ်းဆောင်နိုင်ရည် အတူတကွ
        ဖွံ့ဖြိုးတိုးတက်လာစေခြင်း<br /><br />

        ၇. ကလေးများ၏ နောက်ဆက်တွဲရလဒ်များကို မိဘတစ်ယောက်၊ ဆရာတစ်ယောက် ဆွေးနွေးတိုင်ပင်နိုင်ခြင်း
      </div>
    </div>

    <style>
      .parent-div:hover .img-hover {
        transform: scale(1.3);
      }
      /* .img-hover {
                    transform .2s;
                } */
      .parent-div {
        /* width: 320px; */
        /* height: 390px; */
        overflow: hidden;
        position: relative;
      }
    </style>
  </div>
</Layout>
