---
import HeroText from '~/components/widgets/HeroText.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <div class="xl:w-9/12 mx-auto px-8 xl:px-0">
    <HeroText isMain="main" tagline="About Us" title="Heguru Method" subtitle="" />

    <div class="">
      <h1 class="font-bold text-blue-600 text-xl my-3">
        The Heguru Method: Unlocking Potential Through Right Brain Education
      </h1>
      <div class="md:flex my-10">
        <div class="md:w-1/2 xl:w-1/3">
          <img src="https://placehold.jp/400x400.png" alt="" class="rounded object-contain" />
        </div>
        <p class="mb-5 mt-5 md:mt-0 w-1/2 md:pl-5 xl:w-2/3">
          The Heguru Method is a premier Right Brain Education program in Japan, founded by Mr. Hirotada Henmi and Mrs.
          Ruiko Henmi after 30 years of dedicated research and development in Tokyo.<br />

          Our Infant Classes, designed for children from birth, nurture their innate talents in a fun and relaxed
          environment. We focus on providing our students with a strong foundation that empowers them to excel in any
          field or subject they choose.<br />

          In our Classes for Children, we introduce a vast array of information at high speed, a hallmark of the Heguru
          Method. This unique learning experience is best appreciated firsthand, allowing children to engage in a
          dynamic and enriching atmosphere that fosters creativity and cognitive growth.<br />
        </p>
      </div>

      <h1 class="font-bold text-blue-600 text-xl my-3 mt-10">
        Heguru Method: ညာဘက်ဦးနှောက်ပညာရေးမှတဆင့် အလားအလာကောင်းများကို ဖွင့်လှစ်ခြင်း
      </h1>
      <div class="md:flex my-10">
        <p class="mb-5 mt-5 md:mt-0 md:w-1/2 xl:w-2/3 md:pr-5">
          Heguru Method သည် မစ္စတာ Hirotada Henmi နှင့် မစ္စစ် Ruiko Henmi တို့မှ တိုကျိုမြို့တွင် နှစ်ပေါင်း 30 ကျော်
          သုတေသန နှင့် ဖွံ့ဖြိုးတိုးတက်မှုများလုပ်ဆောင်ပြီးနောက် စတင်တည်ထောင်ခဲ့သော ဂျပန်နိုင်ငံ၏ ထိပ်တန်း Right Brain
          Education ပရိုဂရမ် တစ်ခုဖြစ်ပါသည်။<br />

          မွေးကင်းစအရွယ်ကလေးငယ်များအတွက် ရည်ရွယ်ဖွင့်လှစ်ထားသော Infant အတန်းများသည် ပျော်ရွှင်စရာကောင်းသော
          ပတ်ဝန်းကျင်တွင် ကလေးငယ်များ၏ မွေးရာပါစွမ်းရည်များကို ပြုစုပျိုးထောင်ပေးခြင်း ဖြစ်ပါသည်။ Heguru တွင်
          ကျောင်းသားများအား သူတို့ရွေးချယ်သော မည်သည့်နယ်ပယ် သို့မဟုတ် မည်သည့် ဘာသာရပ်တွင်မဆို ထူးချွန်ရန်
          အထောက်အပံ့ဖြစ်စေမည့် ခိုင်မာသောအခြေခံကို ပေးစွမ်းနိုင်ဖို့ အာရုံစိုက် လုပ်ဆောင်လျက်ရှိပါသည်။ <br />

          ကလေးများအတွက်ဖွင့်လှစ်ထားသော အတန်းများတွင် Heguru Method ၏ မူပိုင်အမှတ်အသားဖြစ်သော အရှိန်လျင်မြန်စွာဖြင့်
          အချက်အလက်ပေါင်းမြောက်များစွာကို မိတ်ဆက်ပေးပါသည်။ ထိုထူးခြားသော သင်ယူမှုအတွေ့အကြုံသည်
          တီထွင်ဖန်တီးနိုင်စွမ်းနှင့် သိမြင်နိုင်စွမ်းကို တိုးတက်စေမည့် တက်ကြွကောင်းမွန်သော ပတ်ဝန်းကျင်တွင်
          ကလေးငယ်များကို ကိုယ်တိုင် ပါဝင်ခံစားစေခြင်းဖြစ်သောကြောင့် အလွန်တန်ဖိုးရှိပါသည်။
        </p>
        <div class="md:w-1/2 xl:w-1/3 md:flex md:justify-end">
          <img src="https://placehold.jp/400x400.png" alt="" class="rounded object-contain" />
        </div>
      </div>
    </div>
  </div>
</Layout>
