---
import Img from '~/components/common/Img.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Programs',
  items: [],
};

const prenatal = '~/assets/images/prenatal-single.jpg';
---

<Layout metadata={metadata}>
  <HeroText
    isMain="main"
    tagline="Programs"
    title="Prenatal Education"
    subtitle="ကိုယ်ဝန်ဆောင်စဉ်တွင် သန္ဓေသားညဏ်ရည် ဖြိုး တိုးတက်မှုဆိုင်ရာသင်တန်း"
  />

  <div class="w-full lg:w-9/12 mx-auto px-8 lg:px-0">
    <div class="text-box text-sm text-gray-600 text-justify px-5 mb-10">
      Establishing communication with the baby in the womb deepens the bond between mother and child.<br />
      မိမိသန္ဓေသားနှင့် မိမိ၏ကြား ဆက်သွယ်ခြင်းသည် မိခင်နှင့် ကလေးကြား လေးနက်သောချစ်ခြင်းနှင့် သံယောဇဉ်ကို ပိုမို ခိုင်မာစေပါသည်။<br
      /><br />
      A wealth of essential information about childbirth will be shared.<br />
      မိခင်လောင်းများ မသိမဖြစ်သိထားရမည့် ကလေးမွေးဖွားခြင်းနှင့် ပတ်သက်သော တန်ဖိုးရှိသည့် အချက်အလက်များစွာကို မျှဝေသွားမည်
      ဖြစ်ပါသည်။<br />

      Each lesson is 2 hours long, with a total of 4 lessons.<br /><br />

      When to Attend: From the 4th month of pregnancy.<br /><br />

      Content Includes:
      <ul class="list-disc ml-5">
        <li>Prenatal exercises</li>
        <li>Image training</li>
        <li>Nutrition</li>
        <li>And more</li>
      </ul>
      <br />
      ကြာချိန် ၂ နာရီ၊ စုစုပေါင်း စာသင်ချိန် ၄ ချိန်<br />
      ကိုယ်ဝန် ၄ လ မှ ၈ လအတွင်း<br />
      ကိုယ်ဝန်ဆောင်များအတွက် စိတ်ကူးပုံရိပ်ဖော်လေ့ကျင့်ခန်း အာဟာရဖြည့်ဆည်းမှုနှင့် အခြားသင်ခန်းစာများ ပါဝင်ပါသည်။<br />

      <div class="md:flex my-10 items-center">
        <div class="my-5 md:mt-0 md:w-2/3 xl:w-3/4 md:pr-5 text-justify">
          <h1 class="font-bold mt-3 mb-5 text-blue-600">Highlights of This Program:</h1>

          <ul class="list-disc ml-5">
            <li>
              <strong>Enhancing Imaging Ability:</strong> Expand the mother’s imaging capacity and right brain capabilities
              through practical applications of image training and the use of potential consciousness.
            </li>
            <li>
              <strong>Supportive Community:</strong> Address common anxieties associated with pregnancy by forming a support
              group where pregnant women can share their worries and maintain their mental and emotional well-being.
            </li>
            <li>
              <strong>Nutritional Guidance:</strong> Receive nutritional information covering the entire pregnancy period,
              childbirth, and beyond, along with general healthy living tips.
            </li>
            <li>
              <strong>Expert Advice:</strong> The instructor will provide guidance and information on various pregnancy concerns.
            </li>
          </ul>
        </div>
        <div class="md:w-1/3 xl:w-1/4">
          <Img src={prenatal} alt="Prenatal" class:list={'rounded object-contain w-[400px] h-[400px]'} />
        </div>
      </div>

      <h1 class="font-bold mt-10 mb-5 text-blue-600">သင်ကြားရေး၏ အဓိကအားသာချက်</h1>
      ၁. မိခင်၏ စိတ်ကူးစိတ်သန်းစွမ်းရည်နှင့် ညာဘက်ဦးနောက်စွမ်းရည်အား ကောင်းလာရန်အတွက် လက်တွေ့ကျသော ပုံရိပ်ဖော်ဖန်တီးနိုင်မှု
      နည်းလမ်းများနှင့် ငုတ်လျှိုးနေသော သိစိတ်ကို အသုံးပြုခြင်းနည်းလမ်းများ အသုံးပြု၍ သင်ကြားပြသပေးခြင်း၊<br /><br />

      ၂. ကိုယ်ဝန်ဆောင်ချိန်တွင် မိခင်လောင်းများသည် စိုးရိမ်ကြောင့်ကြမှုများစွာဖြင့် ရှိနေတတ်ပါသည်။ ဤသင်တန်းတွင် မိမိ၏
      စိုးရိမ်ကြောင့်ကြမှုများကို အဖွဲဝင်များနှင့် ဆွေးနွေး၍ စိုးရိမ်ပူပန်နေသော စိတ်ခံစားချက်များ နည်းပါးလာအောင်
      ကောင်းမွန်သော စိတ်ဓာတ်မြှင့်တင်ရေးနည်း လမ်းများ အကြံပြုချက်များဖြင့် တစ်ဦးကိုတစ်ဦး ဖေးမအားပေးခြင်း။<br /><br />

      ၃. ကိုယ်ဝန်ဆောင်နေစဉ်အချိန်မှစ၍ ကလေးမွေးဖွားပြီး အချိန်ကာလနှင့် သက်ဆိုင်သည့် ကျန်းမာရေးဆိုင်ရာ နေထိုင်မှုဘဝ
      နည်းလမ်းကောင်းများအပါအဝင် အာဟာရဖြည့်တင်းမှုဆိုင်ရာ သတင်းအချက်အလက်များကို မျှဝေခြင်း။<br /><br />

      ၄. သင်ကြားပို့ချသူမှ ကိုယ်ဝန်ဆောင်စဉ်ကာလနှင့် သက်ဆိုင်သည့် များပြားလှသော အချက်အလက်များနှင့် အကြံဉာဏ်များကို
      လမ်းညွှန် ပြသခြင်း။
    </div>
  </div>

  <style>
    .parent-div:hover .img-hover {
      transform: scale(1.3);
    }
    /* .img-hover {
                    transform .2s;
                } */
    .parent-div {
      /* width: 320px; */
      /* height: 390px; */
      overflow: hidden;
      position: relative;
    }
  </style>
</Layout>
