---
import Img from '~/components/common/Img.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Programs',
  items: [],
};

const preschool1 = '~/assets/images/preschool-1.jpg';
---

<Layout metadata={metadata}>
  <HeroText isMain="main" tagline="Programs" title="Preschool" subtitle="မူကြို" />

  <div class="w-full lg:w-9/12 mx-auto px-8 lg:px-0">
    <div class="text-box text-sm text-gray-600 text-justify px-5 mb-10">
      <p>
        Left-brain development begins in collaboration with right-brain development.<br />
        ဘက်ဦးနှောက်ဖွံဖြိုးမှုနှင့် ညာဖက်ဦးနှောက်ဖွံ့ဖြိုးမှုကို ပူးပေါင်းသင်ကြားခြင်းများ စတင်သည်။<br /><br />

        As right-brain development progresses, an additional 84 programs are introduced to enhance left-brain thinking
        power.<br />
        ညာဖက်ဦးနှောက် ဖွံ့ဖြိုးတိုးတက်ပြီး ဖြစ်သည့်အလျှောက် ဘယ်ဖက်ဦးနှောက်၏ တွေးခေါ်နိုင်စွမ်းကို လေ့ကျင့်ပေးရန် သင်ကြားရေးဆိုင်ရာ
        နည်းလမ်း ၈၄ ခု ထပ်မံ ရေးဆွဲထားသည်။
      </p>

      <h1 class="font-bold mt-10 mb-5 text-blue-600">Preschool I</h1>

      <p>
        <strong>Duration:</strong> 70 minutes <br />
        <strong>Child's Age:</strong> 3.5 to 6 years old <br />
        <strong>Number of Classes:</strong> 42 per year <br />
        <br />

        ကြာချိန် - ၇၀ မိနစ် <br />
        ကလေးအသက်- ၃နှစ်ခွဲ မှ - ၆ နှစ် အထိ <br />
        အတန်းအရေအတွက် - တစ်နှစ်လျှင် ၄၂ တန်း
      </p>

      <div class="md:flex my-10 items-center">
        <div class="my-5 md:mt-0 md:w-2/3 xl:w-3/4 md:pr-5 text-justify">
          <h1 class="font-bold mt-3 mb-5 text-blue-600">Highlights of This Program:</h1>

          <ul class="list-disc ml-5">
            <li>
              <strong>Independent Attendance:</strong> Children begin attending classes on their own, making communication
              with the teacher essential.
            </li>
            <li>
              <strong>Holistic Development:</strong> The program promotes the development of both right-brain and left-brain
              abilities through worksheets, handicrafts, and more.
            </li>
            <li>
              <strong>Mind Growth:</strong> Children’s minds grow through engaging with a variety of fascinating stories
              that resonate with them.
            </li>
            <li>
              <strong>Nurturing Independence:</strong> Independence is fostered by emphasizing and teaching self-responsibility.
            </li>
          </ul>
        </div>
        <div class="md:w-1/3 xl:w-1/4">
          <Img src={preschool1} alt="CEO" class:list={'rounded object-contain w-[400px] h-[400px]'} />
        </div>
      </div>

      <h1 class="font-bold mt-10 mb-5 text-blue-600">သင်ကြားရေး၏ အဓိကအားသာချက်</h1>
      ၁. ကလေးများသည် အတန်းများကို မိမိတို့ဘာသာ စတင်တက်ရောက်နေပြီဖြစ်၍ ဆရာမများနှင့် ပြောဆိုဆက်ဆံခြင်းမှာ အရေးပါလာသည်။<br
      /><br />

      ၂. Worksheet များ၊ Handicraft များအစရှိသည်တိုကို လုပ်ဆောင်၍ ညာဖက်ဦးနှောက်အပါအဝင် ဘယ်ဘယ်ဦး နောက်ကိုပါ
      စွမ်းဆောင်နိုင်ရည် ပိုမိုကောင်းမွန်အောင် လုပ်ပေးသည်။<br /><br />

      ၃. ကလေးများ၏ စိတ်ပိုင်းဆိုင်ရာ ရင့်ကျက်လာစေရန် ၎င်းတို့ကို ပဲ့တင်ရိုက်ခတ်စေမည့် စိတ်ဝင်စားဖွယ်
      ပုံပြင်အမျိုးမျိုးကို နားထောင်စေသည်။ <br /><br />

      ၄. မိမိတာဝန်ကို ကိုယ်ကိုယ်တိုင်လုပ်ဆောင်တတ်စေရန် အဓိကထားသင်ကြားပေးခြင်းဖြင့် ကိုယ့်အားကိုယ်ကိုးတတ်လာသည်။
    </div>
  </div>

  <style>
    .parent-div:hover .img-hover {
      transform: scale(1.3);
    }
    /* .img-hover {
                    transform .2s;
                } */
    .parent-div {
      /* width: 320px; */
      /* height: 390px; */
      overflow: hidden;
      position: relative;
    }
  </style>
</Layout>
