---
import DefaultBtn from '~/components/ui/DefaultBtn.astro';
import Content from '~/components/widgets/Content.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Programs',
  items: [],
};

const prenatal = '~/assets/images/prenatal.jpg';
const preschool1 = '~/assets/images/preschool1.jpg';
const preschool2 = '~/assets/images/preschool2.jpg';
const online = '~/assets/images/online.jpg';
const infant = '~/assets/images/infant.jpg';
---

<Layout metadata={metadata}>
  <HeroText isMain="main" tagline="Programs" title="Our Programs" subtitle="" />

  <div class="w-full lg:w-9/12 mx-auto px-8 lg:px-0">
    <div class="text-box text-sm text-gray-500 text-justify px-5">
      Heguru Classes for Children provide courses for training the Whole Brain, which are divided into various programs
      by age group; Prenatal Education (for pregnant women), Infant & Toddler Classes and Preschool Classes.
    </div>

    <Content
      isReversed
      tagline=""
      title=""
      items={[]}
      image={{
        src: infant,
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="content">
        <a
          href="/infant"
          class="md:ml-10 text-xl font-bold tracking-tight dark:text-white sm:text-2xl main-heading-font"
          >Infant & Toddler Class</a
        >
        <p class="md:ml-10 text-sm text-orange-600 font-semibold">
          မွေးကင်းစကလေး၊ လမ်းလျှောက်ခါစ ကလေးများနှင့် သက်ဆိုင်သည့် သင်တန်း (မွေးခင်းက ၆ လ မှ ၃ နှစ်ခွဲအထိ)
        </p>
        <p class="md:ml-10 mt-10 md:text-sm text-gray-500">
          Parents create mental connections with their children, fostering significant capacity for brain development.
          မိဘများသည် မိိမ၏ကလေးများနှင့် စိတ်ပိုင်းဆိုင်ရာ ဆက်သွယ်မှုများ ပြုလုပ်ခြင်းဖြင့်
          ဦးနှောက်၏လုပ်ငန်းဆောင်တာများနှင့် လုပ်နိုင်စွမ်းအား ကြီးမားလာအောင် တည်ဆောက်နိုင်သည်။
          <br />

          <span class="mt-10 inline-block">
            <DefaultBtn link="/infant" text="" />
          </span>
        </p>
      </Fragment>
    </Content>

    <Content
      tagline=""
      title=""
      items={[]}
      image={{
        src: preschool1,
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="content">
        <a
          href="/preschool"
          class="md:ml-10 text-xl font-bold tracking-tight dark:text-white sm:text-2xl main-heading-font"
          >Preschool I Class</a
        >
        <p class="md:ml-10 text-sm text-orange-600 font-semibold">မူကြို (3.5 to 6 years old)</p>
        <p class="md:ml-10 mt-10 md:text-sm text-gray-500">
          Left-brain development begins in collaboration with right-brain development.<br />
          ဘက်ဦးနှောက်ဖွံဖြိုးမှုနှင့် ညာဖက်ဦးနှောက်ဖွံ့ဖြိုးမှုကို ပူးပေါင်းသင်ကြားခြင်းများ စတင်သည်။
          <br />

          <span class="mt-10 inline-block">
            <DefaultBtn link="/preschool" text="" />
          </span>
        </p>
      </Fragment>
    </Content>

    <Content
      isReversed
      tagline=""
      title=""
      items={[]}
      image={{
        src: preschool2,
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="content">
        <a
          href="/preschool2"
          class="md:ml-10 text-xl font-bold tracking-tight dark:text-white sm:text-2xl main-heading-font"
          >Preschool II Class</a
        >
        <p class="md:ml-10 text-sm text-orange-600 font-semibold">မူကြို (5 to 6 years old)</p>
        <p class="md:ml-10 mt-10 md:text-sm text-gray-500">
          Left-brain development begins in collaboration with right-brain development.<br />
          ဘက်ဦးနှောက်ဖွံဖြိုးမှုနှင့် ညာဖက်ဦးနှောက်ဖွံ့ဖြိုးမှုကို ပူးပေါင်းသင်ကြားခြင်းများ စတင်သည်။<br />

          <span class="mt-10 inline-block">
            <DefaultBtn link="/preschool2" text="" />
          </span>
        </p>
      </Fragment>
    </Content>

    <Content
      tagline=""
      title=""
      items={[]}
      image={{
        src: prenatal,
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="content">
        <a
          href="/prenatal"
          class="md:ml-10 text-xl font-bold tracking-tight dark:text-white sm:text-2xl main-heading-font"
          >Prenatal education</a
        >
        <p class="md:ml-10 text-sm text-orange-600 font-semibold">
          ကိုယ်ဝန်ဆောင်စဉ်တွင် သန္ဓေသားညဏ်ရည် ဖြိုး တိုးတက်မှုဆိုင်ရာသင်တန်း (ကိုယ်ဝန် ၄ လ မှ ၈ လအတွင်း)
        </p>
        <p class="md:ml-10 mt-10 md:text-sm text-gray-500">
          Establishing communication with the baby in the womb deepens the bond between mother and child.<br />
          မိမိသန္ဓေသားနှင့် မိမိ၏ကြား ဆက်သွယ်ခြင်းသည် မိခင်နှင့် ကလေးကြား လေးနက်သောချစ်ခြင်းနှင့် သံယောဇဉ်ကို ပိုမို ခိုင်မာစေပါသည်။
          <br />

          <span class="mt-10 inline-block">
            <DefaultBtn link="/prenatal" text="" />
          </span>
        </p>
      </Fragment>
    </Content>

    <Content
      isReversed
      tagline=""
      title=""
      items={[]}
      image={{
        src: online,
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="content">
        <a
          href="/online"
          class="md:ml-10 text-xl font-bold tracking-tight dark:text-white sm:text-2xl main-heading-font"
          >Online Program</a
        >
        <p class="md:ml-10 text-sm text-orange-600 font-semibold">
          Heguru Online Class: Unlock Your Child's Full Potential from Home
        </p>
        <p class="md:ml-10 mt-10 md:text-sm text-gray-500">
          At Heguru, we believe that every child has limitless potential. Our online classes bring the renowned Heguru
          Method directly to your home, offering engaging and effective brain development training. Tailored for
          children aged 6 months to 6 years, our program fosters creativity, memory, and problem-solving skills through
          fun and interactive activities.<br />

          <span class="mt-10 inline-block">
            <DefaultBtn link="/online" text="" />
          </span>
        </p>
      </Fragment>
    </Content>
  </div>

  <style>
    .parent-div:hover .img-hover {
      transform: scale(1.3);
    }
    /* .img-hover {
                    transform .2s;
                } */
    .parent-div {
      /* width: 320px; */
      /* height: 390px; */
      overflow: hidden;
      position: relative;
    }
  </style>
</Layout>
