---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <div class="my-20">
    <div class="lg:w-9/12 mx-auto mt-32">
      <h3 class="text-center font-bold text-3xl text-primary-500 pt-10">Terms Of Use</h3>
      <!-- <p class="text-center text-gray-400 text-sm">Photos of our Activities!</p> -->
    </div>

    <div class="w-full dark:bg-gray-950 xl:w-9/12 xl:mx-auto">
      <div class="bg-white dark:bg-gray-900 px-8 py-6">
        <div class="my-8 text-gray-500 text-sm terms">
          <ul style="list-style-type: square; text-align: left;">
            <li style="list-style-type: none;">
              <ul style="list-style-type: square; text-align: left;">
                <li>
                  <h4><b>Terms of Heguru Online Service</b></h4>
                  Heguru Online Service ("Service"), a video streaming service operated and provided by Kindle Learning Company
                  Limited ("Provider") under the license of HEGL Inc. at Tokyo Japan ("Heguru"), is subject to this Terms
                  of Heguru Online Service (the "Terms"). The Terms shall constitute a binding contract between you and Provider
                  regarding your use of Service. Please read the following terms and conditions carefully before using Service.
                  When you use Service, you are automatically deemed to agree to the Terms.
                </li>
                <li>
                  <h4><b>Use of Service</b></h4>
                  <ul style="list-style-type: square; text-align: left; padding-left: 20px;">
                    <li style="list-style-type: none;">
                      <ul style="list-style-type: square; text-align: left; padding-left: 20px;">
                        <li>
                          Service shall be provided by Provider to a Heguru online class member only through this
                          website operated by Provider.
                        </li>
                        <li>
                          In order to use Service, you shall have already enrolled into Heguru Onsite Class and signed
                          up to take online class in advance.
                        </li>
                        <li>All costs of internet connection to use Service are borne by you.</li>
                        <li>
                          Provider reserves the right to amend, alter, or change in any part of its website, the content
                          of a video, and Service any time without prior notice to you.
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <ul style="list-style-type: square; text-align: left;">
            <li style="list-style-type: none;">
              <ul style="list-style-type: square; text-align: left;">
                <li>
                  <h4><b>Privacy Policy</b></h4>
                  All personal information provided by you to Provider during the course of Service shall be treated in accordance
                  with the privacy policy set forth in the web site of Provider <a
                    href="https://www.facebook.com/Heguruyangoncentre/"
                    target="_main"
                    rel="noopener noreferrer">(https://www.facebook.com/Heguruyangoncentre/).</a
                  >
                </li>
                <li>
                  <h4><b>Intellectual Property Rights and Copyrights</b></h4>
                  Intellectual Property rights and copyrights of any and all contents of video and Service, texts, photos,
                  pictures, charts, programs, website, logos, service marks, trademarks, and other graphic design specific
                  to Heguru, are owned by Heguru and its authorized third party. You are authorized to use Service for your
                  personal, non-commercial use only, within the scope specified on the Term and within the scope permitted
                  under copyright law.
                </li>
              </ul>
            </li>
          </ul>
          <ul style="list-style-type: square; text-align: left;">
            <li style="list-style-type: none;">
              <ul style="list-style-type: square; text-align: left;">
                <li>
                  <h4><b>Forbidden Acts</b></h4>
                  You shall agree not to commit any of the following acts with regard to using Service. If Heguru or Provider
                  judges a forbidden act is committed, your access to Service shall be immediately terminated without prior
                  notice to you. In addition, you will be charged by Provider for damages caused by such forbidden act.
                  <ul style="list-style-type: square; text-align: left; padding-left: 20px;">
                    <li>Any act that violates or likely to violate any of the Term.</li>
                    <li>Any act that violates laws and regulations or public order and morals.</li>
                    <li>
                      Any act that obstructs the operation or provision of Service or its usage by other users or
                      impedes the operation and usage of Service.
                    </li>
                    <li>Any act that causes damage to Provider, Heguru, other Members and any third party.</li>
                    <li>
                      Any act that commits reverses engineering, reverse assembling, reverse compiling, revising, or
                      altering the software
                    </li>
                    <li>Any act Provider deems inappropriate.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <ul style="list-style-type: square; text-align: left;">
            <li style="list-style-type: none;">
              <ul style="list-style-type: square; text-align: left;">
                <li>
                  <h4><b>System Maintenance and Service Outage</b></h4>
                  Provider reserves the right to temporally stop offering Service under the following circumstances with
                  prior notice on Provider’s website (if emergency, the notice may be made promptly after the cause).
                  <ul style="list-style-type: square; text-align: left; padding-left: 20px;">
                    <li>
                      In order to update, add information to, change, delete, or revise the information, or because of
                      system maintenance.
                    </li>
                    <li>
                      Because of failures or disruptions of equipment and lines, power outages, disasters, war, or other
                      unavoidable circumstances.
                    </li>
                    <li>Whenever Provider determines that it is necessary.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <ul style="list-style-type: square; text-align: left;">
            <li style="list-style-type: none;">
              <ul style="list-style-type: square; text-align: left;">
                <li>
                  <h4><b>Amendment of Terms of Services</b></h4>
                  Provider reserves the right to update the Terms at any time without prior notice to you. Any such modification
                  will be effective immediately upon public posting. If you use Service after such effective time, you are
                  automatically deemed to be agree the new Terms.
                </li>
              </ul>
            </li>
          </ul>
          <ul style="list-style-type: square; text-align: left;">
            <li style="list-style-type: none;">
              <ul style="list-style-type: square; text-align: left;">
                <li>
                  <h4><b>User Account</b></h4>
                  You are entirely responsible for maintaining the confidentiality of your password and account for use of
                  Service. Furthermore, you are entirely responsible for any and all activities that occur under your account.
                  You agree to notify Provider immediately of any unauthorized use of your account or any other breach of
                  security. Provider will not be liable for any loss that you may incur as a result of someone else using
                  your password or account, either with or without your knowledge. However, you could be held liable for
                  losses incurred by Provider, Heguru or another party due to someone else using your account or password.
                  You may not use anyone else's account at any time, without the permission of the account holder. If you
                  are in breach of the Term, Provider reserve all the rights to terminate accounts, edit or remove content
                  and cancel orders in their sole discretion.
                </li>
              </ul>
            </li>
          </ul>
          <ul style="list-style-type: square; text-align: left;">
            <li style="list-style-type: none;">
              <ul style="list-style-type: square; text-align: left;">
                <li>
                  <h4><b>Applicable Laws</b></h4>
                  The Term shall be governed and construed in accordance with the laws of Myanmar.
                </li>
              </ul>
            </li>
          </ul>
          <ul style="list-style-type: square; text-align: left;">
            <li>
              <h4><b>Disputes</b></h4>
              Any dispute related in any way to the Member’s visit to this website or to products the Member purchases from
              Heguru shall be arbitrated by state or union courts of Myanmar and the Member consents to exclusive jurisdiction
              and venue of such courts. You and Provider consent to the exclusive jurisdiction of the Courts of the Union
              (Myanmar), with respect to all controversies arising out of or relating to the use of Service and the Terms
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .terms ul li h4 {
    margin: 15px 0px 5px 0px;
  }
</style>
