---
import HeroText from '~/components/widgets/HeroText.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <div class="lg:w-9/12 mx-auto px-8 lg:px-0">
    <HeroText isMain="main" tagline="About Us" title="Heguru World Wide" subtitle="" />

    <div class="">
      <p class="mb-5">
        Heguru သင်တန်းကျောင်းသည် ကလေးငယ်များ၏ ငုတ်လျှိုးနေသော အရည်အချင်းများကို နိုးထလာစေရန် လှုံ့ဆော်ပေးရန်သာမက
        ရရှိလာသော အရည်အချင်းများကို အပြည့်အဝ အသုံးချတတ် စေရန် အဓိကထား လမ်းညွှန်သင်ကြားပေးသည်။ ယခုအခါ Heguru
        သင်တန်းကျောင်းများကို ဂျပန်နိုင်ငံတွင်သာမက ကမ္ဘာနှင့်တစ်ဝန်းတွင် ဖွင့်လှစ်သင်ကြားနေပြီ ဖြစ်သည်။ ကလေးငယ်များ သည်
        Heguru သင်တန်း၏ လမ်းညွှန်ချက်များဖြင့် မိမိတို့၏ ရည်မှန်းချက် အိပ်မက်များကို ရှာဖွေ တွေ့ရှိ၍
        ပျော်ရွှင်အောင်မြင်သော အနာဂတ်ကို ပိုင်ဆိုင်ရရှိစေရန်မှာ ကျောင်း၏ အဓိက ရည်ရွယ်ချက်ပင် ဖြစ်သည်။
      </p>

      <h1 class="font-bold text-blue-600 text-xl my-3 mt-10">Heguru Education: Expanding Globally</h1>
      <p class="mb-5">
        Heguru education has evolved into a global network, with over 47 branches in 10 countries, offering our
        innovative brain development programs for children aged 6 months to 6 years. Originating in Japan, we have
        expanded to countries such as Singapore, Malaysia, Australia, China, Thailand, and the UAE.<br />
        Our schools are dedicated to providing a unique blend of Right Brain training, critical thinking, and holistic education.
        At Heguru, we nurture young minds in a structured and engaging environment that fosters cognitive growth, creativity,
        and problem-solving skills, helping children unlock their full potential worldwide.<br />
      </p>
      <p class="mb-5">
        Heguru ပညာရေးသည် နိုင်ငံပေါင်း ၁၀နိုင်ငံတွင် ကျောင်းခွဲပေါင်း ၄၇ကျောင်းကျော်ဖြင့်
        ကမ္ဘာလုံးဆိုင်ရာကွန်ရက်တစ်ခုအဖြစ် ကြီးထွားလာခဲ့ပြီး အသက် 6 လမှ 6 နှစ်အထိ ကလေးများအတွက် ခေတ်မီဆန်းသစ်သော
        ဦးနှောက်ဖွံ့ဖြိုးမှုအစီအစဉ်များကို သင်ကြားပေးလျက်ရှိပါသည်။ ဂျပန်နိုင်ငံမှအစပြုခဲ့ပြီး စင်ကာပူ၊ မလေးရှား၊
        သြစတြေးလျ၊ တရုတ်၊ ထိုင်း၊ ယူအေအီးစသည့် နိုင်ငံများသို့ တိုးချဲ့ခဲ့သည်။ Heguru ကျောင်းများသည်
        ညာဖက်ဦးနှောက်လေ့ကျင့်မှု၊ ဝေဖန်ပိုင်းခြားတွေးခေါ်မှုနှင့် အလုံးစုံပညာရေးတို့ကို ပံ့ပိုးပေးနိုင်ရန် ရည်ရွယ်ပါသည်။
        Heguru တွင် နုနယ်ငယ်ရွယ်သော ကလေးများအား သိမြင်မှုကြီးထွားမှု၊ တီထွင်ဖန်တီးနိုင်စွမ်းနှင့်
        ပြဿနာဖြေရှင်းနိုင်စွမ်းတို့ကို မြှင့်တင်ပေးသည့် ဖွဲ့စည်းတည်ဆောက်ပုံနှင့် ဆွဲဆောင်မှုရှိသော ပတ်ဝန်းကျင်တွင်
        ပြုစုပျိုးထောင်ပေးရန် အာရုံစိုက်လုပ်ဆောင်ပေးပြီး ကမ္ဘာတစ်ဝှမ်းရှိ ကလေးငယ်များအား ၎င်းတို့၏ စွမ်းရည်များကို
        အကောင်းဆုံးထုတ်ဖော်နိုင်ရန် ကူညီပေးလျက်ရှိပါသည်။
        <br />
      </p>

      <div class="w-full my-20">
        <img src="https://placehold.jp/1200x500.png" alt="" class="rounded object-contain" />
      </div>
    </div>
  </div>
</Layout>
