---
import '~/assets/styles/tailwind.css';

import { I18N } from 'astrowind:config';

// import { RecoilRoot } from 'recoil';
import { ViewTransitions } from 'astro:transitions';
import Analytics from '~/components/common/Analytics.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';
import CommonMeta from '~/components/common/CommonMeta.astro';
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification from '~/components/common/SiteVerification.astro';
import CustomStyles from '~/components/CustomStyles.astro';
import Favicons from '~/components/Favicons.astro';
import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />

    <ViewTransitions fallback="swap" />
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
  </head>

  <body class="antialiased text-default tracking-tight">
    <!-- <RecoilRoot client:only="react"> -->
    <slot />
    <!-- </RecoilRoot> -->
    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>

    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
  </body>
</html>
