---
const { link, text } = Astro.props;
---

<a
  href={link}
  class="tag-line-font text-sm tracking-wider hover:bg-primary-700 font-bold inline-block bg-primary-500 text-white rounded px-3 py-2"
>
  {text}
</a>
