---

---

<div
  class="xl:w-10/12 md:w-full px-8 xl:px-0 mx-auto grid xl:grid-cols-3 md:grid-cols-3 gap-2 gap-y-10 place-items-center"
>
  <iframe
    style=" border-radius: 5px;"
    class="w-full"
    height="315"
    src="https://www.youtube-nocookie.com/embed/O7BP8epZtHY"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <iframe
    style=" border-radius: 5px;"
    class="w-full"
    height="315"
    src="https://www.youtube-nocookie.com/embed/u_s8UEZwLmg"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <iframe
    style=" border-radius: 5px;"
    class="w-full"
    height="315"
    src="https://www.youtube-nocookie.com/embed/6fsIbuqyb_g"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <iframe
    style=" border-radius: 5px;"
    class="w-full"
    height="315"
    src="https://www.youtube-nocookie.com/embed/kq62oTat1v4"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <iframe
    style=" border-radius: 5px;"
    class="w-full"
    height="315"
    src="https://www.youtube-nocookie.com/embed/onCLu9Cdb_w"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <iframe
    style=" border-radius: 5px;"
    class="w-full"
    height="315"
    src="https://www.youtube-nocookie.com/embed/eE7r0YvodVs"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>
